<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.find.mapper.UserMapper">
    <sql id="user_columns">
        id, username, password, age, gender, face_image, face_image_big, nickname, email, gmt_created, gmt_modified, cid, phone, location, token
    </sql>

    <cache/>

    <select id="listUserByLoc" resultType="com.find.pojo.vo.UserSearchVO">
        select
        <include refid="user_columns"/>,ST_Distance(location::geography,#{centerPoint}::geography) as distance
        from chat_user
        where ST_DWithin(location::geography,#{centerPoint}::geography,#{redius})
        order by distance
        limit #{userCount}
    </select>

</mapper>